# 15 P2 Project

* ist1102903 Ana Alfaiate (33%)
  
* ist1102902 Maria Inês Trigueiro (33%)
  
* ist1102881 Raquel Coelho (33%)

Prof. Flávio Martins (and Prof. João Marques)

Lab Shift number: PB03

## PART I – Original Database Schema (SQLite)

##### E-R Diagram

![E-R Diagram](soccer.drawio.png "E-R Diagram")

#### 1. The Original Database Schema

Study the E-R Diagram above corresponding to the original database schema.

Lets download the SQLite database backup/dump!

In [1]:
!wget -c https://github.com/bdist/is-labs-data/raw/refs/heads/main/soccer/database.sqlite?download= -O /home/jovyan/data/database.sqlite

--2025-01-09 15:25:00--  https://github.com/bdist/is-labs-data/raw/refs/heads/main/soccer/database.sqlite?download=
Resolving github.com (github.com)... failed: Name or service not known.
wget: unable to resolve host address ‘github.com’

#### 2. SQL Queries

Consider the E-R Diagram above and write SQL queries for each of the following information needs.

In [2]:
%reload_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%config SqlMagic.feedback = 0
%sql sqlite:////home/jovyan/data/database.sqlite --alias sqlite

1. What is the maximum number of goals recorded in a match? Output a single number.

In [4]:
%%sql sqlite
SELECT MAX(home_team_goal + away_team_goal) as max_nr_goals_match
FROM Match;

+--------------------+
| max_nr_goals_match |
+--------------------+
|         12         |
+--------------------+

2. List each league name and its number of teams sorted from high to low.

In [15]:
%%sql sqlite

SELECT l.name, count(distinct team_api_id) as nr_teams
FROM league AS l , match, team t
where l.id = league_id and (t.team_api_id = home_team_api_id OR t.team_api_id = away_team_api_id)
group by l.name
order by nr_teams desc

+--------------------------+----------+
|           name           | nr_teams |
+--------------------------+----------+
|      France Ligue 1      |    35    |
|  England Premier League  |    34    |
|     Spain LIGA BBVA      |    33    |
|      Italy Serie A       |    32    |
|  Germany 1. Bundesliga   |    30    |
| Portugal Liga ZON Sagres |    29    |
|  Netherlands Eredivisie  |    25    |
|  Belgium Jupiler League  |    24    |
|    Poland Ekstraklasa    |    22    |
| Scotland Premier League  |    17    |
| Switzerland Super League |    15    |
+--------------------------+----------+

In [21]:
%%sql sqlite 
    
SELECT L.name, COUNT(M.team_api_id) AS nr_teams
FROM League AS L JOIN (
    SELECT league_id, home_team_api_id AS team_api_id FROM Match
        UNION 
    SELECT league_id, away_team_api_id AS team_api_id FROM Match) AS M
    ON L.id = M.league_id
GROUP BY L.name
order by nr_teams desc;

+--------------------------+----------+
|           name           | nr_teams |
+--------------------------+----------+
|      France Ligue 1      |    35    |
|  England Premier League  |    34    |
|     Spain LIGA BBVA      |    33    |
|      Italy Serie A       |    32    |
|  Germany 1. Bundesliga   |    30    |
| Portugal Liga ZON Sagres |    29    |
|  Netherlands Eredivisie  |    25    |
|  Belgium Jupiler League  |    24    |
|    Poland Ekstraklasa    |    22    |
| Scotland Premier League  |    17    |
| Switzerland Super League |    15    |
+--------------------------+----------+

3. Who are the GoalKeepers (GK) that have played all the away games for their team? Output the `team_long_name` and `player_name` (assuming `match.away_player_1` is the goalkeeper column).

In [29]:
%%sql sqlite
select T.team_long_name, P.player_name
FROM 
    (SELECT * FROM ( SELECT away_team_api_id, away_player_1
                        FROM Match
                        GROUP BY away_team_api_id, away_player_1) 
        GROUP BY away_team_api_id
        HAVING COUNT(*) = 1) s 
    +
    JOIN Player P ON s.away_player_1 = player_api_id 
    join team t on s.away_team_api_id = T.team_api_id;

-- unique ver! versao nao oracle VER OUTRA

+-----------------------+--------------------+
|     team_long_name    |    player_name     |
+-----------------------+--------------------+
|   Fortuna Düsseldorf  |   Fabian Giefer    |
|    SV Darmstadt 98    | Christian Mathenia |
|   FC Energie Cottbus  |  Gerhard Tremmel   |
|    SC Paderborn 07    |    Lukas Kruse     |
|     RC Recreativo     |    Asier Riesgo    |
|        Watford        |   Heurelho Gomes   |
|       Dijon FCO       |  Baptiste Reynet   |
|      CD Tenerife      |  Sergio Aragones   |
| DSC Arminia Bielefeld |   Dennis Eilhoff   |
+-----------------------+--------------------+

## PART II - New Database Schema (PostgreSQL)

#### 0. Migrate the SQLite Database to PostgreSQL

Instead of writing tedious migration code ourselves, we will be using the `pgloader` CLI tool to get started quickly. The migration task is setup using a `command-file`. Lets see inside that file.

In [3]:
!cat ./command-file.txt

load database
    from '/home/jovyan/data/database.sqlite'
    into postgresql://db:db@postgres/db

with include drop, create tables, create indexes, reset sequences,

prefetch rows = 100, max parallel create index = 1

set work_mem to '16MB', maintenance_work_mem to '512 MB';

The `pgloader` tool will take care of everything automatically including the foreign key constraints (which SQLite does not enforce by default). Lets run it.

In [4]:
!pgloader ./command-file.txt

2025-01-09T15:25:12.010000Z LOG pgloader version "3.6.10~devel"
2025-01-09T15:25:12.010000Z LOG Data errors in '/tmp/pgloader/'
2025-01-09T15:25:12.010000Z LOG Parsing commands from file #P"/home/jovyan/work/command-file.txt"
2025-01-09T15:25:12.120004Z LOG Migrating from #<SQLITE-CONNECTION sqlite:///home/jovyan/data/database.sqlite {1006B26643}>
2025-01-09T15:25:12.120004Z LOG Migrating into #<PGSQL-CONNECTION pgsql://db@postgres:5432/db {1006B267C3}>
2025-01-09T15:25:39.062169Z LOG report summary reset
             table name     errors       rows      bytes      total time
-----------------------  ---------  ---------  ---------  --------------
                  fetch          0          0                     0.000s
        fetch meta data          0         50                     0.090s
         Create Schemas          0          0                     0.000s
       Create SQL Types          0          0                     0.010s
          Create tables          0         14                     0.090s
         Set Table OIDs          0          7                     0.010s
-----------------------  ---------  ---------  ---------  --------------
      player_attributes          0     183929    28.2 MB          3.360s
                 player          0      11060   688.0 kB          0.140s
                 league          0         11     0.3 kB          0.060s
                   team          0        296     9.5 kB          0.100s
                  match          0      25597   266.9 MB         22.292s
                country          0         11     0.1 kB          0.010s
        team_attributes          0       1451   210.4 kB          0.050s
-----------------------  ---------  ---------  ---------  --------------
COPY Threads Completion          0          4                    25.652s
         Create Indexes          0         14                     0.340s
 Index Build Completion          0         14                     0.270s
        Reset Sequences          0          7                     0.070s
           Primary Keys          0          7                     0.060s
    Create Foreign Keys          0         29                     0.510s
        Create Triggers          0          0                     0.000s
       Install Comments          0          0                     0.000s
-----------------------  ---------  ---------  ---------  --------------
      Total import time          ✓     222355   296.0 MB         26.902s

Lets take a closer look into the `match` table.

In [7]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%config SqlMagic.feedback = 0
%sql postgresql+psycopg://db:db@postgres/db --alias psql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%reload_ext sql

In [10]:
%sqlcmd columns -t match

+------------------+---------+----------+-----------------------------------+---------------+---------+
|       name       |   type  | nullable |              default              | autoincrement | comment |
+------------------+---------+----------+-----------------------------------+---------------+---------+
|        id        |  BIGINT |  False   | nextval('match_id_seq'::regclass) |      True     |   None  |
|    country_id    |  BIGINT |   True   |                None               |     False     |   None  |
|    league_id     |  BIGINT |   True   |                None               |     False     |   None  |
|      season      |   TEXT  |   True   |                None               |     False     |   None  |
|      stage       |  BIGINT |   True   |                None               |     False     |   None  |
|       date       |   TEXT  |   True   |                None               |     False     |   None  |
|   match_api_id   |  BIGINT |   True   |                None               |     False     |   None  |
| home_team_api_id |  BIGINT |   True   |                None               |     False     |   None  |
| away_team_api_id |  BIGINT |   True   |                None               |     False     |   None  |
|  home_team_goal  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_team_goal  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x1  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x2  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x3  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x4  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x5  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x6  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x7  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x8  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_x9  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_x10  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_x11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x1  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x2  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x3  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x4  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x5  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x6  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x7  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x8  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_x9  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_x10  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_x11  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y1  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y2  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y3  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y4  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y5  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y6  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y7  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y8  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_y9  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_y10  |  BIGINT |   True   |                None               |     False     |   None  |
| home_player_y11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y1  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y2  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y3  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y4  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y5  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y6  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y7  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y8  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_y9  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_y10  |  BIGINT |   True   |                None               |     False     |   None  |
| away_player_y11  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_1   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_2   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_3   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_4   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_5   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_6   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_7   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_8   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_9   |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_10  |  BIGINT |   True   |                None               |     False     |   None  |
|  home_player_11  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_1   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_2   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_3   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_4   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_5   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_6   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_7   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_8   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_9   |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_10  |  BIGINT |   True   |                None               |     False     |   None  |
|  away_player_11  |  BIGINT |   True   |                None               |     False     |   None  |
|       goal       |   TEXT  |   True   |                None               |     False     |   None  |
|      shoton      |   TEXT  |   True   |                None               |     False     |   None  |
|     shotoff      |   TEXT  |   True   |                None               |     False     |   None  |
|    foulcommit    |   TEXT  |   True   |                None               |     False     |   None  |
|       card       |   TEXT  |   True   |                None               |     False     |   None  |
|      cross       |   TEXT  |   True   |                None               |     False     |   None  |
|      corner      |   TEXT  |   True   |                None               |     False     |   None  |
|    possession    |   TEXT  |   True   |                None               |     False     |   None  |
|      b365h       | NUMERIC |   True   |                None               |     False     |   None  |
|      b365d       | NUMERIC |   True   |                None               |     False     |   None  |
|      b365a       | NUMERIC |   True   |                None               |     False     |   None  |
|       bwh        | NUMERIC |   True   |                None               |     False     |   None  |
|       bwd        | NUMERIC |   True   |                None               |     False     |   None  |
|       bwa        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwh        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwd        | NUMERIC |   True   |                None               |     False     |   None  |
|       iwa        | NUMERIC |   True   |                None               |     False     |   None  |
|       lbh        | NUMERIC |   True   |                None               |     False     |   None  |
|       lbd        | NUMERIC |   True   |                None               |     False     |   None  |
|       lba        | NUMERIC |   True   |                None               |     False     |   None  |
|       psh        | NUMERIC |   True   |                None               |     False     |   None  |
|       psd        | NUMERIC |   True   |                None               |     False     |   None  |
|       psa        | NUMERIC |   True   |                None               |     False     |   None  |
|       whh        | NUMERIC |   True   |                None               |     False     |   None  |
|       whd        | NUMERIC |   True   |                None               |     False     |   None  |
|       wha        | NUMERIC |   True   |                None               |     False     |   None  |
|       sjh        | NUMERIC |   True   |                None               |     False     |   None  |
|       sjd        | NUMERIC |   True   |                None               |     False     |   None  |
|       sja        | NUMERIC |   True   |                None               |     False     |   None  |
|       vch        | NUMERIC |   True   |                None               |     False     |   None  |
|       vcd        | NUMERIC |   True   |                None               |     False     |   None  |
|       vca        | NUMERIC |   True   |                None               |     False     |   None  |
|       gbh        | NUMERIC |   True   |                None               |     False     |   None  |
|       gbd        | NUMERIC |   True   |                None               |     False     |   None  |
|       gba        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsh        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsd        | NUMERIC |   True   |                None               |     False     |   None  |
|       bsa        | NUMERIC |   True   |                None               |     False     |   None  |
+------------------+---------+----------+-----------------------------------+---------------+---------+

Notice how `pgloader` even assigned the safest most-compatible data types for each column so that no data is lost in the migration.

##### 0.1. Introducing a limitation of the original database schema

The `match` table still does not look good to us... Can you try to write a SQL query for the following information need?

1. List all the teams that 'Cristiano Ronaldo' has played for (regardless of starting position)

In [8]:
%%sql psql

SELECT DISTINCT t.team_long_name
FROM match m
JOIN player p ON (
    p.player_api_id IN (
        m.home_player_1, m.home_player_2, m.home_player_3, m.home_player_4,
        m.home_player_5, m.home_player_6, m.home_player_7, m.home_player_8,
        m.home_player_9, m.home_player_10, m.home_player_11,
        m.away_player_1, m.away_player_2, m.away_player_3, m.away_player_4,
        m.away_player_5, m.away_player_6, m.away_player_7, m.away_player_8,
        m.away_player_9, m.away_player_10, m.away_player_11
    )
)
JOIN team t ON (
    (t.team_api_id = m.home_team_api_id AND p.player_api_id IN (
        m.home_player_1, m.home_player_2, m.home_player_3, m.home_player_4,
        m.home_player_5, m.home_player_6, m.home_player_7, m.home_player_8,
        m.home_player_9, m.home_player_10, m.home_player_11
    )) OR
    (t.team_api_id = m.away_team_api_id AND p.player_api_id IN (
        m.away_player_1, m.away_player_2, m.away_player_3, m.away_player_4,
        m.away_player_5, m.away_player_6, m.away_player_7, m.away_player_8,
        m.away_player_9, m.away_player_10, m.away_player_11
    ))
)
WHERE p.player_name = 'Cristiano Ronaldo';

-- WILL NOT BE EVALUATED - We will be implementing a solution for this problem in the next section.

+-------------------+
|   team_long_name  |
+-------------------+
| Manchester United |
|   Real Madrid CF  |
+-------------------+

Closing sqlite

Closing psql

#### 1. Functions, Stored Procedures, and Triggers

Provide the SQL instructions corresponding to each of the following tasks:

1. Create a new `match_player` table to store the data for the starting players (11) for each match (currently stored in the columns `match.home_player_DD` and `match.away_player_DD`). We are going to copy the data contained in the table `match` to `match_player` but we want to use a new column for the player position `position`.

In [9]:
%%sql psql
DROP TABLE IF EXISTS match_player;

CREATE TABLE
  match_player (
    match_id BIGINT,
    team_id BIGINT,
    player_id BIGINT, --- can be null
    position INT,
    type_team ENUM('Away', 'Home'), --     type_team ENUM('Away', 'Home') adicionar OU fazer join com match
    PRIMARY KEY (match_id, team_id, position), -- match_id, player_id (ideal) [not null ]
    FOREIGN KEY (match_id) REFERENCES match(id),
    FOREIGN KEY (team_id) REFERENCES team(team_api_id),
    FOREIGN KEY (player_id) REFERENCES player(player_api_id)
);

++
||
++
++

2. Populate the new table `match_player` using the data contained in the table `match` using a function or stored procedure.

In [42]:
%%sql psql

SELECT * FROM match_player

+----------+---------+-----------+----------+
| match_id | team_id | player_id | position |
+----------+---------+-----------+----------+
|   145    |   9996  |   39890   |    1     |
|   145    |   9996  |   38788   |    3     |
|   145    |   9996  |   38312   |    4     |
|   145    |   9996  |   26235   |    5     |
|   145    |   9996  |   26916   |    9     |
|   145    |   9996  |   94289   |    11    |
|   145    |   8635  |   34480   |    1     |
|   145    |   8635  |   38388   |    2     |
|   145    |   8635  |   26458   |    3     |
|   145    |   8635  |   13423   |    4     |
|   145    |   8635  |   38389   |    5     |
|   145    |   8635  |   38798   |    6     |
|   145    |   8635  |   30949   |    7     |
|   145    |   8635  |   38253   |    8     |
|   145    |   8635  |   106013  |    9     |
|   145    |   8635  |   38383   |    10    |
|   145    |   8635  |   46552   |    11    |
|   146    |   8203  |   38327   |    1     |
|   146    |   8203  |   67950   |    2     |
|   146    |   8203  |   67958   |    3     |
|   146    |   8203  |   67959   |    4     |
|   146    |   8203  |   37112   |    5     |
|   146    |   8203  |   36393   |    6     |
|   146    |   8203  |   148286  |    7     |
|   146    |   8203  |   67898   |    8     |
|   146    |   8203  |   164352  |    9     |
|   146    |   8203  |   38801   |    10    |
|   146    |   8203  |   26502   |    11    |
|   146    |   9987  |   37937   |    1     |
|   146    |   9987  |   38293   |    2     |
|   146    |   9987  |   148313  |    3     |
|   146    |   9987  |   104411  |    4     |
|   146    |   9987  |   148314  |    5     |
|   146    |   9987  |   37202   |    6     |
|   146    |   9987  |   43158   |    7     |
|   146    |   9987  |    9307   |    8     |
|   146    |   9987  |   42153   |    9     |
|   146    |   9987  |   32690   |    10    |
|   146    |   9987  |   38782   |    11    |
|   147    |   9986  |   95597   |    1     |
|   147    |   9986  |   38435   |    4     |
|   147    |   9986  |   94462   |    5     |
|   147    |   9986  |   46004   |    6     |
|   147    |   9986  |   164732  |    7     |
|   147    |   9986  |   38246   |    9     |
|   147    |   9986  |   38423   |    10    |
|   147    |   9986  |   38419   |    11    |
|   147    |   9998  |   38252   |    1     |
|   147    |   9998  |   39156   |    2     |
|   147    |   9998  |   39151   |    3     |
|   147    |   9998  |   166554  |    4     |
|   147    |   9998  |   15652   |    5     |
|   147    |   9998  |   39145   |    6     |
|   147    |   9998  |   46890   |    7     |
|   147    |   9998  |   38947   |    8     |
|   147    |   9998  |   46881   |    9     |
|   147    |   9998  |   39158   |    10    |
|   147    |   9998  |   119118  |    11    |
|   148    |   9985  |   39580   |    2     |
|   148    |   9985  |   30692   |    3     |
|   148    |   9985  |   37861   |    4     |
|   148    |   9985  |   47411   |    5     |
|   148    |   9985  |   119117  |    6     |
|   148    |   9985  |   35412   |    7     |
|   148    |   9985  |   39631   |    8     |
|   148    |   9985  |   39591   |    9     |
|   148    |   9985  |   25957   |    10    |
|   148    |   9985  |   38369   |    11    |
|   148    |   9984  |   36835   |    1     |
|   148    |   9984  |   37047   |    2     |
|   148    |   9984  |   37021   |    3     |
|   148    |   9984  |   38186   |    4     |
|   148    |   9984  |   27110   |    5     |
|   148    |   9984  |   32863   |    6     |
|   148    |   9984  |   37957   |    7     |
|   148    |   9984  |   37909   |    8     |
|   148    |   9984  |   104386  |    9     |
|   148    |   9984  |   38251   |    10    |
|   148    |   9984  |   37065   |    11    |
|   149    |   9994  |   30934   |    1     |
|   149    |   9994  |   38292   |    2     |
|   149    |   9994  |   11569   |    3     |
|   149    |   9994  |   38273   |    4     |
|   149    |   9994  |   14642   |    5     |
|   149    |   9994  |   38945   |    6     |
|   149    |   9994  |   38290   |    7     |
|   149    |   9994  |   95609   |    8     |
|   149    |   9994  |   38257   |    9     |
|   149    |   9994  |   121639  |    11    |
|   149    |   9991  |   104378  |    1     |
|   149    |   9991  |   27838   |    2     |
|   149    |   9991  |   36841   |    3     |
|   149    |   9991  |   38337   |    4     |
|   149    |   9991  |   33662   |    6     |
|   149    |   9991  |   37044   |    7     |
|   149    |   9991  |   32760   |    8     |
|   149    |   9991  |   38229   |    9     |
|   149    |   9991  |   12574   |    10    |
|   149    |   9991  |   46335   |    11    |
|   150    |   8342  |   37990   |    1     |
+----------+---------+-----------+----------+
Truncated to displaylimit of 100.

In [10]:
%%sql psql
DELETE FROM match_player;

CREATE OR REPLACE PROCEDURE populate_match_player()
LANGUAGE plpgsql
AS $$
DECLARE
    match_row match%ROWTYPE;
    position INT;
    player_id INT;
BEGIN
    FOR match_row IN SELECT * FROM match LOOP
        -- HOME players
        FOR position IN 1..11 LOOP
            player_id := CASE position ---confirmar
                WHEN 1 THEN match_row.home_player_1
                WHEN 2 THEN match_row.home_player_2
                WHEN 3 THEN match_row.home_player_3
                WHEN 4 THEN match_row.home_player_4
                WHEN 5 THEN match_row.home_player_5
                WHEN 6 THEN match_row.home_player_6
                WHEN 7 THEN match_row.home_player_7
                WHEN 8 THEN match_row.home_player_8
                WHEN 9 THEN match_row.home_player_9
                WHEN 10 THEN match_row.home_player_10
                WHEN 11 THEN match_row.home_player_11
            END;

            IF player_id IS NOT NULL THEN
                    EXECUTE format(
                        'INSERT INTO match_player (match_id, team_id, player_id, position)
                         VALUES (%s, %s, %s, %s)',
                        match_row.id,
                        match_row.home_team_api_id,
                        player_id,
                        position
                );
            END IF;
        END LOOP;

        -- Insert away players
        FOR position IN 1..11 LOOP
            player_id := CASE position
                WHEN 1 THEN match_row.away_player_1
                WHEN 2 THEN match_row.away_player_2
                WHEN 3 THEN match_row.away_player_3
                WHEN 4 THEN match_row.away_player_4
                WHEN 5 THEN match_row.away_player_5
                WHEN 6 THEN match_row.away_player_6
                WHEN 7 THEN match_row.away_player_7
                WHEN 8 THEN match_row.away_player_8
                WHEN 9 THEN match_row.away_player_9
                WHEN 10 THEN match_row.away_player_10
                WHEN 11 THEN match_row.away_player_11
            END;

            IF player_id IS NOT NULL THEN             

                EXECUTE format(
                    'INSERT INTO match_player (match_id, team_id, player_id, position)
                     VALUES (%s, %s, %s, %s)
                     ', 
                    match_row.id,
                    match_row.away_team_api_id,
                    player_id,
                    position
                );

            END IF;
        END LOOP;
    END LOOP;
END;
$$;

CALL populate_match_player(); -- player_id empty??

++
||
++
++

#### 2. SQL Queries

Consider the new `match_player` table above and write SQL queries for each of the following information needs.

1. List all the teams that 'Cristiano Ronaldo' has played for (regardless of starting position)

In [11]:
%%sql psql

SELECT DISTINCT(team_id), team_long_name
FROM match_player mp, player p, team t
WHERE mp.player_id = p.player_api_id and p.player_name = 'Cristiano Ronaldo' and t.team_api_id = mp.team_id;

+---------+-------------------+
| team_id |   team_long_name  |
+---------+-------------------+
|   8633  |   Real Madrid CF  |
|  10260  | Manchester United |
+---------+-------------------+

In [47]:
%%sql psql

SELECT DISTINCT T.team_long_name
FROM Team T JOIN match_player MP ON T.team_api_id = MP.team_id JOIN Player P ON MP.player_id = P.player_api_id
WHERE P.player_name = 'Cristiano Ronaldo';

+-------------------+
|   team_long_name  |
+-------------------+
| Manchester United |
|   Real Madrid CF  |
+-------------------+

2. Who are the players that have played all the away games for their team? Output the `team_long_name` and `player_name`.

In [12]:
%%sql psql

SELECT gp.player_id, player_name, t.team_long_name -- division with count 1 s | except 1 min MELHOR MAIS CORRETA
from (
    SELECT away_team_api_id, player_id, count(player_id) as games_player
    from match, match_player mp
    where mp.team_id = away_team_api_id
    group by away_team_api_id, player_id
    order by away_team_api_id) gp 

    JOIN (
    SELECT m.away_team_api_id, COUNT(*) AS total_games_team  
    FROM match m
    GROUP BY 
        m.away_team_api_id
) gt ON gp.away_team_api_id = gt.away_team_api_id, player p , team t
where gp.games_player = gt.total_games_team and player_id = p.player_api_id and gp.away_team_api_id = t.team_api_id

+-----------+--------------------------+--------------------------+
| player_id |       player_name        |      team_long_name      |
+-----------+--------------------------+--------------------------+
|   13390   |      Wojciech Skaba      |       Ruch Chorzów       |
|   105526  |      Adrian Mrowiec      |       Ruch Chorzów       |
|   459662  |    Volodymyr Tanchyk     |       Ruch Chorzów       |
|   555650  |      Lukasz Moneta       |       Ruch Chorzów       |
|   166660  |        Pieter Nys        |   Oud-Heverlee Leuven    |
|   641168  |         Din Sula         |   Oud-Heverlee Leuven    |
|   138155  |     Szymon Matuszek      |  Jagiellonia Białystok   |
|   206830  |   Bartlomiej Pawlowski   |  Jagiellonia Białystok   |
|   412056  |    Seweryn Michalski     |  Jagiellonia Białystok   |
|   429899  |     Tomasz Kowalski      |  Jagiellonia Białystok   |
|   25933   |           Guga           |      S.C. Olhanense      |
|   96957   |     Ricardo Ferreira     |      S.C. Olhanense      |
|   164227  |       Rui Sampaio        |      S.C. Olhanense      |
|   69349   |    Krzysztof Chrapek     |       Lech Poznań        |
|   728478  |      Kamil Jozwiak       |       Lech Poznań        |
|   38800   |     Tomislav Mikulic     |         Cracovia         |
|   68768   |      Matko Perdijic      |         Cracovia         |
|   488445  |     Tomas Vestenicky     |         Cracovia         |
|   150267  |       Andre Fontes       |         Feirense         |
|   177126  |        Jan Oblak         |         Feirense         |
|   193805  |      William Alves       |         Feirense         |
|   268586  |      Anderson Melo       |         Feirense         |
|   281200  |     Jeferson Maciel      |         Feirense         |
|   307227  |    Abdullah Al Hafith    |         Feirense         |
|   30739   |        Gael Givet        | Évian Thonon Gaillard FC |
|   192132  |    Zouhaier Dhaouadhi    | Évian Thonon Gaillard FC |
|   210118  |       Maxime Blanc       | Évian Thonon Gaillard FC |
|   210693  |      Johann Durand       | Évian Thonon Gaillard FC |
|   212697  |      Nicolas Blandi      | Évian Thonon Gaillard FC |
|   249761  |        Dan Nistor        | Évian Thonon Gaillard FC |
|   34003   |     Ludovic Butelle      | US Boulogne Cote D'Opale |
|   93341   |      Florian Bague       | US Boulogne Cote D'Opale |
|   202341  |      Gabriel Silva       |          Novara          |
|   39180   |       Jose Espinal       |        KAS Eupen         |
|   11840   |      Miguel Fidalgo      |     Uniao da Madeira     |
|   52160   |        Renny Vega        |     Uniao da Madeira     |
|   67329   |     Genseric Kusunga     |     Uniao da Madeira     |
|   163985  |      Ricardo Campos      |     Uniao da Madeira     |
|   186687  |          Nilson          |     Uniao da Madeira     |
|   281330  |      Carlos Manuel       |     Uniao da Madeira     |
|   607121  |    Paul Andre Guerin     |       GFC Ajaccio        |
|   98361   |      Fabio Pacheco       |   FC Paços de Ferreira   |
|   149949  |     Filipe Goncalves     |   FC Paços de Ferreira   |
|   149950  |           Josa           |   FC Paços de Ferreira   |
|   164467  |         Carlitos         |   FC Paços de Ferreira   |
|   279740  |          Sassa           |   FC Paços de Ferreira   |
|   160955  |       Frank Olijve       |        PEC Zwolle        |
|   207045  |        Eli Babalj        |        PEC Zwolle        |
|   215418  |      Leroy Labylle       |        PEC Zwolle        |
|   97508   |     Jorge Goncalves      |        Leixões SC        |
|   150031  |        Diogo Luis        |        Leixões SC        |
|   243548  |   Patrick J. ter Mate    |     Go Ahead Eagles      |
|   150248  |     Furdjel Narsingh     |       FC Volendam        |
|   37185   |      Andwele Slory       |       FC Dordrecht       |
|   638612  |   Sai van Wermeskerken   |       FC Dordrecht       |
|   441166  |       Ahmet Ozcan        |    FC Lausanne-Sports    |
|   128802  |    Donovan Slijngard     |        SC Cambuur        |
|   266841  |      Dominik Masek       |        SC Cambuur        |
|   520341  |      Valmir Berisha      |        SC Cambuur        |
|   690290  |       Omar El Baad       |        SC Cambuur        |
|   26045   |      Ludovic Genest      |        SC Bastia         |
|   277348  |    Thomas Vincensini     |        SC Bastia         |
|   602555  |      Julien Romain       |        SC Bastia         |
|   31728   |      Karl Svensson       |         SM Caen          |
|   35559   |        Jose Saez         |         SM Caen          |
|   143945  |    Rajiv van La Parra    |         SM Caen          |
|   22130   |       Hugo Valdir        |        Rio Ave FC        |
|   40957   |     Daniel Candeias      |        Rio Ave FC        |
|   43303   |          Cicero          |        Rio Ave FC        |
|   159373  | Temitope Ayoluwa Obadeyi |        Rio Ave FC        |
|   172172  |   Adriano Jose de Lara   |        Rio Ave FC        |
|   181376  |         Wesllem          |        Rio Ave FC        |
|   395114  |      Luwagga Kizito      |        Rio Ave FC        |
|   426359  |    Stanislav Kritsyuk    |        Rio Ave FC        |
|   534485  |      Ernest Ohemeng      |        Rio Ave FC        |
|   185143  |          Elizeu          |      Estoril Praia       |
|   301804  |         Ricardo          |      Estoril Praia       |
|   469216  |       Tijane Reis        |      Estoril Praia       |
|   37417   |      Fabio Felicio       |    Vitória Guimarães     |
|   120148  |      Fernando Russi      |    Vitória Guimarães     |
|   160628  |       Vitor Bastos       |    Vitória Guimarães     |
|   321587  |      Victor Andrade      |    Vitória Guimarães     |
|   358221  |       Pedro Lemos        |    Vitória Guimarães     |
|   375790  |        Joao Pedro        |    Vitória Guimarães     |
|   395510  |       Bruno Mendes       |    Vitória Guimarães     |
|   396757  |        Tyler Boyd        |    Vitória Guimarães     |
|   37845   |          Xisco           |        Córdoba CF        |
|   518664  |       Fran Serrano       |        Córdoba CF        |
|   174030  |     Jesus Fernandez      |        Granada CF        |
|   177496  |     Henrique Almeida     |        Granada CF        |
|   254241  |    Stole Dimitrievski    |        Granada CF        |
|   293074  |       Luis Martins       |        Granada CF        |
|   362194  |      Nicolas Lopez       |        Granada CF        |
|   369859  |      Eddy Israfilov      |        Granada CF        |
|   474658  |      Alvaro Garcia       |        Granada CF        |
|   477604  |        Salva Ruiz        |        Granada CF        |
|   408104  |      Christos Donis      |          Lugano          |
|   491794  |     Zoran Josipovic      |          Lugano          |
|   542268  |   Nikola Milosavljevic   |          Lugano          |
|   613972  |       Karim Rossi        |          Lugano          |
+-----------+--------------------------+--------------------------+
Truncated to displaylimit of 100.

In [18]:
%%sql psql
-- podemos colocar mais colunas na tabela match_player?
    
SELECT gp.player_id, player_name, team_long_name --player.player_name
from (
    SELECT away_team_api_id, player_id, count(away_team_api_id) as games_player
    from match, match_player mp
    where mp.team_id = away_team_api_id
    group by away_team_api_id, player_id
    order by away_team_api_id) gp
    JOIN (
    SELECT 
        m.away_team_api_id,
        COUNT(*) AS total_games_team  
    FROM 
        match m
    GROUP BY 
        m.away_team_api_id
) gt ON gp.away_team_api_id = gt.away_team_api_id, player 
where gp.games_player = gt.total_games_team and player_id = player.player_api_id

+-----------+--------------------------+
| player_id |       player_name        |
+-----------+--------------------------+
|   13390   |      Wojciech Skaba      |
|   105526  |      Adrian Mrowiec      |
|   459662  |    Volodymyr Tanchyk     |
|   555650  |      Lukasz Moneta       |
|   166660  |        Pieter Nys        |
|   641168  |         Din Sula         |
|   138155  |     Szymon Matuszek      |
|   206830  |   Bartlomiej Pawlowski   |
|   412056  |    Seweryn Michalski     |
|   429899  |     Tomasz Kowalski      |
|   25933   |           Guga           |
|   96957   |     Ricardo Ferreira     |
|   164227  |       Rui Sampaio        |
|   69349   |    Krzysztof Chrapek     |
|   728478  |      Kamil Jozwiak       |
|   38800   |     Tomislav Mikulic     |
|   68768   |      Matko Perdijic      |
|   488445  |     Tomas Vestenicky     |
|   150267  |       Andre Fontes       |
|   177126  |        Jan Oblak         |
|   193805  |      William Alves       |
|   268586  |      Anderson Melo       |
|   281200  |     Jeferson Maciel      |
|   307227  |    Abdullah Al Hafith    |
|   30739   |        Gael Givet        |
|   192132  |    Zouhaier Dhaouadhi    |
|   210118  |       Maxime Blanc       |
|   210693  |      Johann Durand       |
|   212697  |      Nicolas Blandi      |
|   249761  |        Dan Nistor        |
|   34003   |     Ludovic Butelle      |
|   93341   |      Florian Bague       |
|   202341  |      Gabriel Silva       |
|   39180   |       Jose Espinal       |
|   11840   |      Miguel Fidalgo      |
|   52160   |        Renny Vega        |
|   67329   |     Genseric Kusunga     |
|   163985  |      Ricardo Campos      |
|   186687  |          Nilson          |
|   281330  |      Carlos Manuel       |
|   607121  |    Paul Andre Guerin     |
|   98361   |      Fabio Pacheco       |
|   149949  |     Filipe Goncalves     |
|   149950  |           Josa           |
|   164467  |         Carlitos         |
|   279740  |          Sassa           |
|   160955  |       Frank Olijve       |
|   207045  |        Eli Babalj        |
|   215418  |      Leroy Labylle       |
|   97508   |     Jorge Goncalves      |
|   150031  |        Diogo Luis        |
|   243548  |   Patrick J. ter Mate    |
|   150248  |     Furdjel Narsingh     |
|   37185   |      Andwele Slory       |
|   638612  |   Sai van Wermeskerken   |
|   441166  |       Ahmet Ozcan        |
|   128802  |    Donovan Slijngard     |
|   266841  |      Dominik Masek       |
|   520341  |      Valmir Berisha      |
|   690290  |       Omar El Baad       |
|   26045   |      Ludovic Genest      |
|   277348  |    Thomas Vincensini     |
|   602555  |      Julien Romain       |
|   31728   |      Karl Svensson       |
|   35559   |        Jose Saez         |
|   143945  |    Rajiv van La Parra    |
|   22130   |       Hugo Valdir        |
|   40957   |     Daniel Candeias      |
|   43303   |          Cicero          |
|   159373  | Temitope Ayoluwa Obadeyi |
|   172172  |   Adriano Jose de Lara   |
|   181376  |         Wesllem          |
|   395114  |      Luwagga Kizito      |
|   426359  |    Stanislav Kritsyuk    |
|   534485  |      Ernest Ohemeng      |
|   185143  |          Elizeu          |
|   301804  |         Ricardo          |
|   469216  |       Tijane Reis        |
|   37417   |      Fabio Felicio       |
|   120148  |      Fernando Russi      |
|   160628  |       Vitor Bastos       |
|   321587  |      Victor Andrade      |
|   358221  |       Pedro Lemos        |
|   375790  |        Joao Pedro        |
|   395510  |       Bruno Mendes       |
|   396757  |        Tyler Boyd        |
|   37845   |          Xisco           |
|   518664  |       Fran Serrano       |
|   174030  |     Jesus Fernandez      |
|   177496  |     Henrique Almeida     |
|   254241  |    Stole Dimitrievski    |
|   293074  |       Luis Martins       |
|   362194  |      Nicolas Lopez       |
|   369859  |      Eddy Israfilov      |
|   474658  |      Alvaro Garcia       |
|   477604  |        Salva Ruiz        |
|   408104  |      Christos Donis      |
|   491794  |     Zoran Josipovic      |
|   542268  |   Nikola Milosavljevic   |
|   613972  |       Karim Rossi        |
+-----------+--------------------------+
Truncated to displaylimit of 100.

In [19]:
%%sql psql

Select count (*)
FROM (
SELECT gp.player_id, player_name --player.player_name
from (
    SELECT away_team_api_id, player_id, count(away_team_api_id) as games_player
    from match, match_player mp
    where mp.team_id = away_team_api_id
    group by away_team_api_id, player_id
    order by away_team_api_id) gp

    JOIN (
    SELECT 
        m.away_team_api_id,
        COUNT(*) AS total_games_team  
    FROM 
        match m
    GROUP BY 
        m.away_team_api_id
) gt ON gp.away_team_api_id = gt.away_team_api_id, player 
where gp.games_player = gt.total_games_team and player_id = player.player_api_id)

+-------+
| count |
+-------+
|  1288 |
+-------+

In [ ]:
%%sql psql

SELECT 
    gp.player_id, 
    player.player_name
FROM (
    SELECT 
        mp.team_id AS away_team_api_id, 
        mp.player_id, 
        COUNT(mp.team_id) AS games_player
    FROM 
        match
    JOIN 
        match_player mp ON mp.team_id = match.away_team_api_id
    GROUP BY 
        mp.team_id, mp.player_id
) gp
JOIN (
    SELECT 
        m.away_team_api_id, 
        COUNT(*) AS total_games_team  
    FROM 
        match m
    GROUP BY 
        m.away_team_api_id
) gt 
ON gp.away_team_api_id = gt.away_team_api_id
JOIN 
    player ON gp.player_id = player.player_api_id
WHERE 
    gp.games_player = gt.total_games_team;

3. What is the match with the highest number of goals? Output `team_long_name` for both home and away teams, and the total number of goals for each team.

In [58]:
%%sql psql
    -- +20 -30 
-- nao estamos a usar o match_player
SELECT 
    M.match_api_id AS match,
    Th.team_long_name AS home_team, 
    M.home_team_goal AS home_team_goals,
    Ta.team_long_name AS away_team, 
    M.away_team_goal AS away_team_goals
FROM Match M 
    JOIN Team Th ON M.home_team_api_id = Th.team_api_id 
    JOIN Team Ta ON M.away_team_api_id = Ta.team_api_id 
WHERE M.home_team_goal + M.away_team_goal >= (
    SELECT MAX(home_team_goal + away_team_goal) 
    FROM match);

+---------+----------------+-----------------+----------------+-----------------+
|  match  |   home_team    | home_team_goals |   away_team    | away_team_goals |
+---------+----------------+-----------------+----------------+-----------------+
|  820504 |   Motherwell   |        6        |   Hibernian    |        6        |
| 2030233 | Real Madrid CF |        10       | Rayo Vallecano |        2        |
+---------+----------------+-----------------+----------------+-----------------+

#### 3. Query Optimization

Consider the new `player_attributes` table that contains the largest amount of rows.

1. Create the most appropriate index(es) for the following query:

In [19]:
%%sql psql
DROP INDEX IF EXISTS player_att_index_c;
DROP INDEX IF EXISTS player_att_idx_hash;
DROP INDEX IF EXISTS player_att_bt;

++
||
++
++

In [11]:
%%sql psql
CREATE INDEX player_att_index_c ON player_attributes(attacking_work_rate, overall_rating)
--8 ms ANSWER makes more sense

++
||
++
++

In [17]:
%%sql psql
CREATE INDEX player_att_idx_hash ON player_attributes USING HASH(attacking_work_rate);
CREATE INDEX player_att_bt ON player_attributes(overall_rating);
-- another option

++
||
++
++

In [18]:
%%sql psql
SELECT
  MAX(overall_rating)
FROM
  player_attributes
WHERE
  attacking_work_rate = 'high';

+-----+
| max |
+-----+
|  94 |
+-----+

In [23]:
%%sql psql
SELECT indexname, tablename, indexdef
FROM pg_indexes
WHERE schemaname = 'public';  -- Pode especificar o schema ou omitir para ver todos os schemas

+---------------------------------------+-------------------+------------------------------------------------------------------------------------------------------------+
|               indexname               |     tablename     |                                                  indexdef                                                  |
+---------------------------------------+-------------------+------------------------------------------------------------------------------------------------------------+
|              client_pkey              |       client      |                     CREATE UNIQUE INDEX client_pkey ON public.client USING btree (tin)                     |
|          client_phone_nr_key          |       client      |              CREATE UNIQUE INDEX client_phone_nr_key ON public.client USING btree (phone_nr)               |
|             assistant_pkey            |     assistant     |               CREATE UNIQUE INDEX assistant_pkey ON public.assistant USING btree (phone_nr)                |
|              doctor_pkey              |       doctor      |                     CREATE UNIQUE INDEX doctor_pkey ON public.doctor USING btree (omv)                     |
|          doctor_phone_nr_key          |       doctor      |              CREATE UNIQUE INDEX doctor_phone_nr_key ON public.doctor USING btree (phone_nr)               |
|              animal_pkey              |       animal      |                 CREATE UNIQUE INDEX animal_pkey ON public.animal USING btree (name, owner)                 |
|           cats_or_dogs_pkey           |    cats_or_dogs   |           CREATE UNIQUE INDEX cats_or_dogs_pkey ON public.cats_or_dogs USING btree (name, owner)           |
|           other_animals_pkey          |   other_animals   |          CREATE UNIQUE INDEX other_animals_pkey ON public.other_animals USING btree (name, owner)          |
|         veterinary_visit_pkey         |  veterinary_visit |    CREATE UNIQUE INDEX veterinary_visit_pkey ON public.veterinary_visit USING btree (name, owner, date)    |
|              assists_pkey             |      assists      |        CREATE UNIQUE INDEX assists_pkey ON public.assists USING btree (name, owner, date, phone_nr)        |
|          diagnostic_code_pkey         |  diagnostic_code  |           CREATE UNIQUE INDEX diagnostic_code_pkey ON public.diagnostic_code USING btree (code)            |
|            associated_pkey            |     associated    |       CREATE UNIQUE INDEX associated_pkey ON public.associated USING btree (name, owner, date, code)       |
|           prescription_pkey           |    prescription   |         CREATE UNIQUE INDEX prescription_pkey ON public.prescription USING btree (prescription_id)         |
|            medication_pkey            |     medication    | CREATE UNIQUE INDEX medication_pkey ON public.medication USING btree (prescription_id, name, lab, dosage)  |
|             procedure_pkey            |     procedure     |              CREATE UNIQUE INDEX procedure_pkey ON public.procedure USING btree (description)              |
|             performs_pkey             |      performs     |          CREATE UNIQUE INDEX performs_pkey ON public.performs USING btree (phone_nr, description)          |
|            radiography_pkey           |    radiography    |            CREATE UNIQUE INDEX radiography_pkey ON public.radiography USING btree (description)            |
|             surgical_pkey             |      surgical     |               CREATE UNIQUE INDEX surgical_pkey ON public.surgical USING btree (description)               |
|         other_procedures_pkey         |  other_procedures |       CREATE UNIQUE INDEX other_procedures_pkey ON public.other_procedures USING btree (description)       |
|               test_pkey               |        test       |                   CREATE UNIQUE INDEX test_pkey ON public.test USING btree (description)                   |
|            measurement_pkey           |    measurement    |            CREATE UNIQUE INDEX measurement_pkey ON public.measurement USING btree (description)            |
| idx_166372_sqlite_autoindex_country_1 |      country      |       CREATE UNIQUE INDEX idx_166372_sqlite_autoindex_country_1 ON public.country USING btree (name)       |
|   idx_166344_player_attributes_pkey   | player_attributes |     CREATE UNIQUE INDEX idx_166344_player_attributes_pkey ON public.player_attributes USING btree (id)     |
|         idx_166351_player_pkey        |       player      |                CREATE UNIQUE INDEX idx_166351_player_pkey ON public.player USING btree (id)                |
|         idx_166365_league_pkey        |       league      |                CREATE UNIQUE INDEX idx_166365_league_pkey ON public.league USING btree (id)                |
|           match_player_pkey           |    match_player   |       CREATE UNIQUE INDEX match_player_pkey ON public.match_player USING btree (match_id, player_id)       |
|  idx_166351_sqlite_autoindex_player_2 |       player      | CREATE UNIQUE INDEX idx_166351_sqlite_autoindex_player_2 ON public.player USING btree (player_fifa_api_id) |
|  idx_166351_sqlite_autoindex_player_1 |       player      |   CREATE UNIQUE INDEX idx_166351_sqlite_autoindex_player_1 ON public.player USING btree (player_api_id)    |
|  idx_166365_sqlite_autoindex_league_1 |       league      |        CREATE UNIQUE INDEX idx_166365_sqlite_autoindex_league_1 ON public.league USING btree (name)        |
|   idx_166379_sqlite_autoindex_team_2  |        team       |    CREATE UNIQUE INDEX idx_166379_sqlite_autoindex_team_2 ON public.team USING btree (team_fifa_api_id)    |
|   idx_166379_sqlite_autoindex_team_1  |        team       |      CREATE UNIQUE INDEX idx_166379_sqlite_autoindex_team_1 ON public.team USING btree (team_api_id)       |
|  idx_166358_sqlite_autoindex_match_1  |       match       |     CREATE UNIQUE INDEX idx_166358_sqlite_autoindex_match_1 ON public.match USING btree (match_api_id)     |
|          idx_166379_team_pkey         |        team       |                  CREATE UNIQUE INDEX idx_166379_team_pkey ON public.team USING btree (id)                  |
|         idx_166358_match_pkey         |       match       |                 CREATE UNIQUE INDEX idx_166358_match_pkey ON public.match USING btree (id)                 |
|        idx_166372_country_pkey        |      country      |               CREATE UNIQUE INDEX idx_166372_country_pkey ON public.country USING btree (id)               |
|    idx_166386_team_attributes_pkey    |  team_attributes  |       CREATE UNIQUE INDEX idx_166386_team_attributes_pkey ON public.team_attributes USING btree (id)       |
+---------------------------------------+-------------------+------------------------------------------------------------------------------------------------------------+

2. Create the most appropriate index(es) for the following query:

In [42]:
%%sql psql
DROP INDEX IF EXISTS idx_id_foot;
DROP INDEX IF EXISTS idx_id_foot_filter;
DROP INDEX IF EXISTS idx_id_foot_filter2;
DROP INDEX IF EXISTS idx_id_foot_filter3;
DROP INDEX IF EXISTS idx_player_attributes_grouping;
DROP INDEX IF EXISTS idx_player_attributes_filtered;

++
||
++
++

In [32]:
%%sql psql
CREATE INDEX idx_id_foot ON player_attributes(player_api_id, preferred_foot);
-- index composto! btree
-- 68 ms

++
||
++
++

In [40]:
%%sql psql
CREATE INDEX idx_id_foot ON player_attributes(player_api_id, preferred_foot);
CREATE INDEX idx_id_foot_a ON player_attributes(crossing, potential);

-- index composto! btree
-- 66 ms ANSWER

++
||
++
++

In [23]:
%%sql psql
DROP INDEX IF EXISTS idx_player_attributes_grouping;
--CREATE INDEX idx_player_attributes_grouping ON player_attributes (crossing, potential, preferred_foot, player_api_id);
-- 84 ms

++
||
++
++

In [24]:
%%sql psql
--EXPLAIN (ANALYZE, BUFFERS) 
EXPLAIN ANALYZE
SELECT
  player_api_id,
  preferred_foot,
  MIN(crossing) as min_crossing, 
  MIN(potential) as min_potential
FROM
  player_attributes
GROUP BY
  player_api_id,
  preferred_foot
HAVING
  MIN(crossing) = 80
  AND MIN(potential) >= 90

-- 77 ms sem having
-- 70 ms com having

+---------------------------------------------------------------------------------------------------------------------------------+
|                                                            QUERY PLAN                                                           |
+---------------------------------------------------------------------------------------------------------------------------------+
|              HashAggregate  (cost=12398.58..12674.48 rows=31 width=29) (actual time=91.356..94.100 rows=2 loops=1)              |
|                                              Group Key: player_api_id, preferred_foot                                           |
|                                     Filter: ((min(crossing) = 80) AND (min(potential) >= 90))                                   |
|                                                  Batches: 1  Memory Usage: 1809kB                                               |
|                                                   Rows Removed by Filter: 12933                                                 |
|   ->  Seq Scan on player_attributes  (cost=0.00..10559.29 rows=183929 width=29) (actual time=0.010..20.781 rows=183929 loops=1) |
|                                                     Planning Time: 0.255 ms                                                     |
|                                                    Execution Time: 94.363 ms                                                    |
+---------------------------------------------------------------------------------------------------------------------------------+

## PART III - The Web App (Flask + PostgreSQL)

#### 1. SQL View

1. Create a SQL View that lists the player names sorted by the most recent `player_attributes.date` first.

In [11]:
%%sql psql
--EXPLAIN ANALYZE 
CREATE OR REPLACE VIEW
  players_index_view AS
SELECT pa.player_api_id as player_id, p.player_name, pa.date as date
--SELECT pa.player_fifa_api_id, p.player_name, date
FROM player_attributes pa, player p
WHERE pa.player_api_id = p.player_api_id 
    AND pa.date  = (SELECT MAX(pa2.date) 
    -->= ALL (Select pa2.date
    FROM player_attributes pa2 
    WHERE pa2.player_fifa_api_id = pa.player_fifa_api_id)
-- OR = SELECT MAX(pa2.date) FROM   player_attributes pa2      WHERE pa2.player_fifa_api_id = pa.player_fifa_api_id)
ORDER BY date DESC; --, pa.player_fifa_api_id;
--Finally, regarding the SQL view, we interpret it as listing each player's name only once, corresponding to their most recent date, where the results are sorted by this date.

++
||
++
++

In [28]:
%%sql psql
--EXPLAIN ANALYZE 
DROP VIEW players_index_view;
CREATE OR REPLACE VIEW
  players_index_view AS
SELECT player_id, p.player_name, date
FROM player p
    JOIN (
SELECT pa.player_api_id as player_id, MAX(pa.date) as date
FROM player_attributes pa
GROUP BY pa.player_api_id
)
ON player_id = p.player_api_id
ORDER BY date DESC;

++
||
++
++

In [105]:
%%sql psql
    --extra query created by me
SELECT * FROM players_index_view
-- 79ms sem indices
-- 81ms jogador, data
-- 75ms data
-- 79 ms data, jogador


-- 212ms sem indices | 162
-- 191 jogador data MORE SENSE
-- 198 date
-- 188 data jogador

+-----------+---------------------------+---------------------+
| player_id |        player_name        |         date        |
+-----------+---------------------------+---------------------+
|   231638  |    Dzikamai Andre Gwaze   | 2016-07-07 00:00:00 |
|   31432   |          Joe Hart         | 2016-06-23 00:00:00 |
|   25798   |       Bruno Lazaroni      | 2016-06-23 00:00:00 |
|   183414  |       David Stephens      | 2016-06-16 00:00:00 |
|   188058  |        Daniel Burn        | 2016-06-16 00:00:00 |
|   192625  |      Patrick Herrmann     | 2016-06-09 00:00:00 |
|   188540  |      Santiago Vergini     | 2016-06-09 00:00:00 |
|   178584  |      Sergiusz Prusak      | 2016-06-09 00:00:00 |
|   192319  |      Jonathan Mensah      | 2016-06-09 00:00:00 |
|   187150  |   Alejandro Martinuccio   | 2016-06-09 00:00:00 |
|   210046  |       Vladan Giljen       | 2016-06-02 00:00:00 |
|   183519  |     Pape Ndiaye Souare    | 2016-06-02 00:00:00 |
|   215079  |        Mohammed Abu       | 2016-05-26 00:00:00 |
|   183491  |      Jean Barrientos      | 2016-05-19 00:00:00 |
|   177126  |         Jan Oblak         | 2016-05-19 00:00:00 |
|   193222  |       Igor Vetokele       | 2016-05-19 00:00:00 |
|   113422  |      Pascal Schuerpf      | 2016-05-19 00:00:00 |
|   165889  |           Carlao          | 2016-05-19 00:00:00 |
|   172949  |      Thiago Alcantara     | 2016-05-12 00:00:00 |
|   45605   |       Albert Crusat       | 2016-05-12 00:00:00 |
|   24932   |           Tonel           | 2016-05-12 00:00:00 |
|   172568  |            Gil            | 2016-05-12 00:00:00 |
|   193177  |       Zakaria Labyad      | 2016-05-12 00:00:00 |
|   163989  |          Anselmo          | 2016-05-12 00:00:00 |
|   183498  |         Javi Lara         | 2016-05-12 00:00:00 |
|   210406  |       Eric Bautheac       | 2016-05-12 00:00:00 |
|   178283  |         Mats Rits         | 2016-05-12 00:00:00 |
|   215798  |       Lavyin Kurzawa      | 2016-05-12 00:00:00 |
|   189922  |       Ibrahima Balde      | 2016-05-12 00:00:00 |
|   189557  |      Luca Martinelli      | 2016-05-12 00:00:00 |
|   213490  |        Manu Molina        | 2016-05-05 00:00:00 |
|   210126  |       Dennis Appiah       | 2016-05-05 00:00:00 |
|   189908  |       Jackson Mendy       | 2016-05-05 00:00:00 |
|   230982  |       Raphael Varane      | 2016-05-05 00:00:00 |
|   41874   |       Claudio Terzi       | 2016-05-05 00:00:00 |
|   122048  |       Leandro Salino      | 2016-05-05 00:00:00 |
|   214977  |        Kamil Drygas       | 2016-05-05 00:00:00 |
|   154950  |        Adrian Basta       | 2016-05-05 00:00:00 |
|   186524  |       Sandro Wieser       | 2016-05-05 00:00:00 |
|   212814  |        Sonny Kittel       | 2016-05-05 00:00:00 |
|   192841  |   Carlos Lazaro Vallejo   | 2016-05-05 00:00:00 |
|   215930  |        Jordan Slew        | 2016-04-28 00:00:00 |
|   46014   |        Nils Fischer       | 2016-04-28 00:00:00 |
|   102356  |        Neil Taylor        | 2016-04-28 00:00:00 |
|   183425  |       Davide Grassi       | 2016-04-28 00:00:00 |
|   182836  |     Marco D'Alessandro    | 2016-04-28 00:00:00 |
|   193226  |     Francisco Portillo    | 2016-04-28 00:00:00 |
|   188506  |        Anthony Watt       | 2016-04-28 00:00:00 |
|   156726  |       Douglas Costa       | 2016-04-28 00:00:00 |
|   140497  |       Guillaume Katz      | 2016-04-28 00:00:00 |
|   41725   |      Heinz Barmettler     | 2016-04-28 00:00:00 |
|   202610  |           Fidel           | 2016-04-28 00:00:00 |
|   201938  |       Kevin Malcuit       | 2016-04-28 00:00:00 |
|   172610  |      Damien Le Tallec     | 2016-04-21 00:00:00 |
|   212153  |     Yannick Wildschut     | 2016-04-21 00:00:00 |
|   209413  |        Ben Rienstra       | 2016-04-21 00:00:00 |
|   188413  |      Adrien Regattin      | 2016-04-21 00:00:00 |
|   147614  |       Fallou Diagne       | 2016-04-21 00:00:00 |
|   186153  |      Cheick Doukoure      | 2016-04-21 00:00:00 |
|   157723  |     Christian Eriksen     | 2016-04-21 00:00:00 |
|   186805  |       Dorian Leveque      | 2016-04-21 00:00:00 |
|   192775  |        Wes Fletcher       | 2016-04-21 00:00:00 |
|   179783  |       Romain Reynaud      | 2016-04-21 00:00:00 |
|   181262  |     David Wotherspoon     | 2016-04-14 00:00:00 |
|   215245  |       Florin Gardos       | 2016-04-14 00:00:00 |
|   169721  |       Connor Wickham      | 2016-04-14 00:00:00 |
|   178599  |   Krzysztof Kaczmarczyk   | 2016-04-14 00:00:00 |
|   186748  |           Pizzi           | 2016-04-14 00:00:00 |
|   150590  |       Gevero Markiet      | 2016-04-14 00:00:00 |
|   138155  |      Szymon Matuszek      | 2016-04-14 00:00:00 |
|   209439  |    Charalampos Mavrias    | 2016-04-14 00:00:00 |
|   16254   |       Dusan Veskovac      | 2016-04-14 00:00:00 |
|   210118  |        Maxime Blanc       | 2016-04-14 00:00:00 |
|   105827  |        Fran Merida        | 2016-04-14 00:00:00 |
|   183497  |      Dani Castellano      | 2016-04-14 00:00:00 |
|   200962  |     Philipp Wollscheid    | 2016-04-14 00:00:00 |
|   213814  |       Anaitz Arbilla      | 2016-04-07 00:00:00 |
|   210466  |      Mathieu Duhamel      | 2016-04-07 00:00:00 |
|   212772  |     Antonio Donnarumma    | 2016-04-07 00:00:00 |
|   210111  |        Lucas Digne        | 2016-04-07 00:00:00 |
|   215419  |      Anthony Limbombe     | 2016-04-07 00:00:00 |
|   26709   |    Frank van Mosselveld   | 2016-04-07 00:00:00 |
|   177475  |       Izet Hajrovic       | 2016-03-31 00:00:00 |
|   183346  |        Victor Perez       | 2016-03-31 00:00:00 |
|   190854  |     Thibaut van Acker     | 2016-03-31 00:00:00 |
|   150565  | Pierre-Emerick Aubameyang | 2016-03-31 00:00:00 |
|   181379  |        Daniel Ayala       | 2016-03-31 00:00:00 |
|   23823   |         Daniel Fox        | 2016-03-31 00:00:00 |
|   209377  |      Frantisek Kubik      | 2016-03-31 00:00:00 |
|   104389  |    Geoffrey Mujangi Bia   | 2016-03-31 00:00:00 |
|   161644  |   Aaron Taylor-Sinclair   | 2016-03-24 00:00:00 |
|   210423  |       Florent Hanin       | 2016-03-24 00:00:00 |
|   189958  |      Leonard Nienhuis     | 2016-03-24 00:00:00 |
|   192679  |       Michael Tidser      | 2016-03-24 00:00:00 |
|   209381  |         Tim Eekman        | 2016-03-24 00:00:00 |
|   209372  |         Adam Maher        | 2016-03-17 00:00:00 |
|   202562  |     Anthony Knockaert     | 2016-03-17 00:00:00 |
|   177953  |       Felix Wiedwald      | 2016-03-17 00:00:00 |
|   193870  |        David Mateos       | 2016-03-17 00:00:00 |
|   215927  |        Juan Carlos        | 2016-03-17 00:00:00 |
+-----------+---------------------------+---------------------+
Truncated to displaylimit of 100.

2. Create the most appropriate index(es) for the SQL view you just created. (Note: PostgreSQL does not have support for materialized views)

In [89]:
%%sql psql
CREATE INDEX idx_player_attributes_date ON player_attributes (date DESC);

++
||
++
++

In [100]:
%%sql psql
CREATE INDEX idx_player_attributes_player_date 
ON player_attributes (player_fifa_api_id, date DESC); 
-- ANSWER

++
||
++
++

In [96]:
%%sql psql
CREATE INDEX idx_player_attributes_player_date 
ON player_attributes (date DESC, player_fifa_api_id); 
-- 12 43

--CREATE INDEX idx_player_api_id ON player(player_api_id); -- este tambem??

++
||
++
++

In [103]:
%%sql psql
DROP INDEX IF EXISTS idx_player_attributes_date;
DROP INDEX IF EXISTS idx_player_api_id;
DROP INDEX IF EXISTS idx_player_attributes_player_date;

++
||
++
++

3. Please test your view using the following query.

In [29]:
%%sql psql
SELECT
  *
FROM
  players_index_view
LIMIT
  20;

+-----------+---------------------+---------------------+
| player_id |     player_name     |         date        |
+-----------+---------------------+---------------------+
|   210065  |         Bebe        | 2016-07-07 00:00:00 |
|   45400   |   Ronnie Schwartz   | 2016-07-07 00:00:00 |
|   495841  | Adalberto Penaranda | 2016-07-07 00:00:00 |
|   184521  |   Florian Lejeune   | 2016-07-07 00:00:00 |
|   423024  |     Jhon Murillo    | 2016-07-07 00:00:00 |
|   317932  |    Baptiste Aloe    | 2016-07-07 00:00:00 |
|   307224  |    Kevin Koubemba   | 2016-07-07 00:00:00 |
|   512726  |  Yanis Mbombo Lokwa | 2016-07-07 00:00:00 |
|   450002  |       Wallace       | 2016-07-07 00:00:00 |
|   167254  |     Jo-Gook Jung    | 2016-06-30 00:00:00 |
|   18384   |     Diego Valeri    | 2016-06-30 00:00:00 |
|   94571   |   Humberto Osorio   | 2016-06-30 00:00:00 |
|   289140  |  Isaac Kiese Thelin | 2016-06-30 00:00:00 |
|   474673  |     Johan Mojica    | 2016-06-30 00:00:00 |
|   323438  |   Fredy Hinestroza  | 2016-06-30 00:00:00 |
|   105925  |    Angel Montoro    | 2016-06-30 00:00:00 |
|   414856  |   Gaetano Letizia   | 2016-06-30 00:00:00 |
|   116085  |      Eoin Doyle     | 2016-06-30 00:00:00 |
|   268039  |  Anderson Conceicao | 2016-06-30 00:00:00 |
|   108568  |     Ever Banega     | 2016-06-30 00:00:00 |
+-----------+---------------------+---------------------+

#### 2. Create the players_index page on the Web App

Requirements:
- Should use the SQL View declared above
- Do not list more than 20 players.

1. Copy your players_index function from app.py to the cell below

In [ ]:
# rever o que está aqui depois desta célula

```python
@app.route("/", methods=("GET",))
@app.route("/players", methods=("GET",))
@limiter.limit("1 per second")
def players_index():
    """Show the list of players sorted by most recent player attributes date first."""
    
    with pool.connection() as conn:
        with conn.cursor() as cur:
            # Querying the SQL View to get player information
            players = cur.execute(
                """
                SELECT player_api_id, player_name, date
                FROM player_attributes_view
                ORDER BY date DESC
                LIMIT 20;
                """,
                {}
            ).fetchall()
            log.debug(f"Found {cur.rowcount} players.")

    return render_template("players_index.html", players=players)
```

```python
@app.route("/", methods=("GET",))
@app.route("/accounts", methods=("GET",))
@limiter.limit("1 per second")
def account_index():
    """Show all the accounts, most recent first."""

    with pool.connection() as conn:
        with conn.cursor() as cur:
            accounts = cur.execute(
                """
                SELECT account_number, branch_name, balance
                FROM account
                ORDER BY account_number DESC;
                """,
                {},
            ).fetchall()
            log.debug(f"Found {cur.rowcount} rows.")

    return render_template("account/index.html", accounts=accounts)
```

2. Copy your final HTML template for this view onto the cell below

```html
{% extends "base.html" %} <!-- confirm name.html-->
{% block header %}
    <h1>
        {% block title %}
            Players
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}

    {% for player in players %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ player['player_name'] }}</h1>
                    <div class="about">Last Updated: {{ player['date'] }}</div>  <!-- Data da última atualização -->
                </div>
                <a class="action"
                    href="{{ url_for('players_index_view', player_api_id=player['player_api_id']) }}">View Details</a>
            </header>
            <!--<p class="body">€ {{ account['balance'] }}</p> -->
        </article>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}
```

```html
{% extends "base.html" %} <!-- confirm name.html-->
{% block header %}
    <h1>
        {% block title %}
            Players
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}

    <div class="players-list">
        {% if players %}
            <ul>
                {% for player in players %}
                    <li>
                        <article class="post">
                            <header>
                                <div>
                                    <h1>{{ player['player_name'] }}</h1>  
                                    <div class="about">Last Updated: {{ player['date'] }}</div>  
                                </div>
                                <a class="action" href="{{ url_for('players_index_view', player_api_id=player['player_fifa_api_id']) }}">View Details</a>
                            </header>
                        </article>
                    </li>
                    {% if not loop.last %}<hr />{% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No players found.</p>
        {% endif %}
    </div>
{% endblock content %}
                                       
```

```html
{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
            Accounts
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    {% for account in accounts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ account['account_number'] }}</h1>
                    <div class="about">in {{ account['branch_name'] }}</div>
                </div>
                <a class="action"
                   href="{{ url_for('account_update_view', account_number=account['account_number']) }}">Edit</a>
            </header>
            <p class="body">€ {{ account['balance'] }}</p>
        </article>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}
{% endblock content %}
```

#### 3. Create the player_update_view and player_update_save routes on the Web App

Requirements:

- The app.route for player_update_view should take a player_api_id and show a nice editable HTML form.
             
- The app.route for player_update_save should be called on form submission and insert the new data into player_attributes. 

- On success, should redirect to the players_index

- On failure, should raise an appropriate exception with a error message

1. Copy your player_update_view function from app.py to the cell below

In [107]:
%%sql psql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'player_attributes';

+---------------------+-----------+
|     column_name     | data_type |
+---------------------+-----------+
|     gk_reflexes     |   bigint  |
|  player_fifa_api_id |   bigint  |
|    player_api_id    |   bigint  |
|     gk_handling     |   bigint  |
|      gk_kicking     |   bigint  |
|    gk_positioning   |   bigint  |
|          id         |   bigint  |
|    overall_rating   |   bigint  |
|      potential      |   bigint  |
|       crossing      |   bigint  |
|      finishing      |   bigint  |
|   heading_accuracy  |   bigint  |
|    short_passing    |   bigint  |
|       volleys       |   bigint  |
|      dribbling      |   bigint  |
|        curve        |   bigint  |
|  free_kick_accuracy |   bigint  |
|     long_passing    |   bigint  |
|     ball_control    |   bigint  |
|     acceleration    |   bigint  |
|     sprint_speed    |   bigint  |
|       agility       |   bigint  |
|      reactions      |   bigint  |
|       balance       |   bigint  |
|      shot_power     |   bigint  |
|       jumping       |   bigint  |
|       stamina       |   bigint  |
|       strength      |   bigint  |
|      long_shots     |   bigint  |
|      aggression     |   bigint  |
|    interceptions    |   bigint  |
|     positioning     |   bigint  |
|        vision       |   bigint  |
|      penalties      |   bigint  |
|       marking       |   bigint  |
|   standing_tackle   |   bigint  |
|    sliding_tackle   |   bigint  |
|      gk_diving      |   bigint  |
|         date        |    text   |
| attacking_work_rate |    text   |
| defensive_work_rate |    text   |
|    preferred_foot   |    text   |
+---------------------+-----------+

In [108]:
%%sql psql
SELECT count(column_name)
FROM information_schema.columns
WHERE table_name = 'player_attributes';

+-------+
| count |
+-------+
|   42  |
+-------+

2. Copy your final HTML template for this view onto the cell below

3. Copy your player_update_save function from app.py to the cell below