# 15 P1 Project

* ist1102903 Ana Alfaiate (33%)
  
* ist1102902 Maria Inês Trigueiro (33%)
  
* ist102881 Raquel Coelho (33%)

Prof. Flávio Martins (and Prof. João Marques)

Lab Shift number: PB03

## PART I – E-R Model

#### 1. Proposed database design

An E-R model describing your proposed database design. Every design decision that can be captured in the E-R model should be represented in the diagram. Do not forget to include additional integrity constraints not captured in the E-R model. You may provide notes explaining the rationale behind non-trivial design decisions.

### E-R Model

![E-R Model](15-p1-er-model.png "E-R Model")

## PART II – Relational Model

### Database Schema

#### 1. Create the tables and integrity constraints corresponding to the relational database schema obtained.

% Do not forget to include additional integrity constraints not captured in the relational model.

%Please use database `db`, which should already have been created. If not, follow the instructions in Lab01 to create it.

In [5]:
!pip install sql
!pip install ipython-sql
!pip install psycopg2

%load_ext sql
%%sql postgresql+psycopg://db:db@postgres/db

Requirement already satisfied: sql in c:\users\anajf\anaconda3\lib\site-packages (2022.4.0)
Requirement already satisfied: ipython-sql in c:\users\anajf\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\anajf\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anajf\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anajf\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\anajf\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\anajf\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\anajf\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\anajf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\anajf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\anajf\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: psycopg2 in c:\users\anajf\anaconda3\lib\site-packages (2.9.10)
The sql module is not an IPython extension.

UsageError: Line magic function `%%sql` not found.

In [ ]:
% create db vetDB
    
%%sql
CREATE USER vetDB WITH PASSWORD 'vetDB';


CREATE DATABASE vetDB
    WITH
    OWNER = vetDB
    ENCODING = 'UTF8'; 

GRANT ALL ON DATABASE vetDB TO vetDB; 
psql -h postgres -U vetDB

In [ ]:
%%sql

DROP TABLE IF EXISTS Procedure;

DROP TABLE IF EXISTS Assistant;
DROP TABLE IF EXISTS Prescription;

DROP TABLE IF EXISTS Diagnostic;

DROP TABLE IF EXISTS Veterinary_Visit;

DROP TABLE IF EXISTS Client;
DROP TABLE IF EXISTS Doctor;
DROP TABLE IF EXISTS Animal;


CREATE TABLE Client (
    tin NUMERIC(9),
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    PRIMARY KEY (tin),
    UNIQUE (phone_nr)
);

CREATE TABLE Assistant (
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    PRIMARY KEY (phone_nr),
);

CREATE TABLE Doctor (
    omv NUMERIC(9),
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    spclz VARCHAR (80),
    biog TEXT,
    PRIMARY KEY (omv),
    UNIQUE (phone_nr)
);

CREATE TABLE Animal (
    name VARCHAR(80),
    owner VARCHAR(80),
    birthdate DATE,
    color VARCHAR(30),
    gender VARCHAR(9),
    weight_g ? -- in most recent measurement of weight in grams
    PRIMARY KEY (name, owner), -- confirmar que está bem escrito
);

CREATE TABLE Cats_or_Dogs (
    name VARCHAR(80),
    owner VARCHAR(80),
    breed VARCHAR(80),
    PRIMARY KEY (name, owner), -- confirmar que está bem escrito
);



CREATE TABLE Other_Animals (
    name VARCHAR(80),
    owner VARCHAR(80),
    spc VARCHAR(80),
    PRIMARY KEY (name, owner), -- confirmar que está bem escrito
);

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    text TEXT,
    -- Every student must appear in the table 'registers'

CREATE TABLE Instrument (
    name VARCHAR(80),
    tonality VARCHAR(30),
    PRIMARY KEY (name)
);

CREATE TABLE plays (
    idc INTEGER,
    name VARCHAR(80),
    PRIMARY KEY (idc, name),
    FOREIGN KEY (idc) REFERENCES Musician(idc),
    FOREIGN KEY (name) REFERENCES Instrument(name)
);

CREATE TABLE Album (
    id VARCHAR(255),
    title VARCHAR(255),
    date DATE,
    producer INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (producer) REFERENCES Musician(idc)
);

CREATE TABLE Music (
    id VARCHAR(255),
    title VARCHAR(255),
    author VARCHAR(80),
    PRIMARY KEY (id, title, author),
    FOREIGN KEY (id) REFERENCES Album(id)
    -- Every music must appear in the table 'participates'
);

CREATE TABLE participates (
    idc INTEGER,
    id VARCHAR(255),
    title VARCHAR(255),
    author VARCHAR(80),
    PRIMARY KEY (idc, id, title, author),
    FOREIGN KEY (idc) REFERENCES Musician(idc),
    FOREIGN KEY (id, title, author) REFERENCES Music(id, title, author)
);