# 15 P1 Project

* ist1102903 Ana Alfaiate (33%)
  
* ist1102902 Maria Inês Trigueiro (33%)
  
* ist102881 Raquel Coelho (33%)

Prof. Flávio Martins (and Prof. João Marques)

Lab Shift number: PB03

## PART I – E-R Model

#### 1. Proposed database design


The E-R model describing our proposed database design is represented below.
Our database design includes the entities Doctor, Client, and Assistant. Despite sharing several attributes, we chose not to generalize them into a super-entity (e.g., "Person"). This decision is grounded in their unique identifiers: OMV for Doctor and TIN for Client. The Assistant is identified by their phone number, a choice justified by its inherent uniqueness. Additionally, the biographic description of each doctor was marked as unique, as identical descriptions could indicate potential plagiarism - no doctor has the exact same description and it would be very suspicious if two doctors wrote the same way.

The entity Owner was not created separately. Owners lack a distinct identifier and are instead tightly coupled with their animals. Since each animal has a single, specific owner (though an owner may have multiple pets), we included the owner's name as part of the primary key for the Animal entity. To ensure uniqueness, we assumed no owner would give two pets the exact same name. 
Instead of tracking an animal's age, we opted for a birthdate attribute, eliminating the need for annual updates.
For the animal’s weight, we introduced the attribute weight_g (representing the most recent weight measurement in grams). This numeric field has a precision of 9 digits and a scale of 3, accommodating weights up to 999,999.999 grams and aligning with the sensitivity of precision scales.

Even though cats and dogs could be a specialization of mammals (as the text implies), we decided to specialize animals this way because all other animals except cats and dogs are identified by a common attribute (species), while cats and dogs are identified by their breed.

The Veterinary Visit entity was modeled as a weak entity dependent on Animal. This design leverages the animal's primary key as part of the foreign keys for Veterinary Visit, aligning with the rule that an animal cannot have multiple visits simultaneously. The participation and cardinality constraints are designed according to the description of the Veterinary Visit, with mandatory and single doctor, client and animal.
SOAP Notes were not modeled as a separate entity due to the lack of a clear unique identifier. Instead, they are optional attributes of the Veterinary Visit, reflected in the SQL implementation by omitting the NOT NULL constraint.
Prescriptions were modeled to occur only if a Veterinary Visit includes at least one Diagnostic. To represent this, we aggregated the association between Veterinary Visit and Diagnostic into a higher-level association (instead of making a ternary association with an Integrity Constraint). This aggregation allows the optional relationship between the Prescription and its associated entities while maintaining the integrity of the diagnostic-prescription dependency.

The Medication entity was set as a weak entity of Prescription, since it was described as an attribute with several attributes of its own. In addition to its attributes (name, dosage), the laboratory name was added as part of the primary key to distinguish between medications with the same name – not all names of medications are trademarks (e.g., generic drugs like Fenbendazole).
For the Procedure entity, the “small textual description” was used as the unique identifier, even though it is not ideal. Making it a weak entity of Veterinary Visit would lead to an overly complex primary key, which we aimed to avoid. Procedures act as super-entities for further specializations, which helps maintain a clean structure.
The Measurement entity was modeled as a weak entity of Test, leveraging the description (inherited from Procedure) and indicator as a composite primary key. This assumes that a single test can yield multiple unique measurements but never duplicate the same indicator.

### E-R Model

![E-R Model](../images/15-p1-er-model.png "E-R Model")

## PART II – Relational Model

### Database Schema

#### 1. Create the tables and integrity constraints corresponding to the relational database schema obtained.

% Do not forget to include additional integrity constraints not captured in the relational model.

%Please use database `db`, which should already have been created. If not, follow the instructions in Lab01 to create it.

### Create the Database vetDB


- Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U postgres ⮐
```

- Enter the password for the user `postgres`.

   `postgres`↵

- Create a new unprivileged user `vetDB`.

   ```sql
   CREATE USER vetDB WITH PASSWORD 'vetDB'; ⮐
   ```

- Create database `vetDB` and set user `vetDB` as owner of the database.

    ```sql
    CREATE DATABASE vetDB
    WITH
    OWNER = vetDB
    ENCODING = 'UTF8'; ⮐
    ```

- Grant all privileges on the database `vetDB` to the user `vetDB`.

```sql
GRANT ALL ON DATABASE vetDB TO vetDB; ⮐

\q
```

- Connect to PostgreSQL using the `psql` command-line interface.

```bash
psql -h postgres -U vetDB ⮐
```

In [ ]:
%load_ext sql
%%sql postgresql+psycopg://vetDB:vetDB@postgres/vetDB

In [ ]:
%sql postgresql+psycopg://db:db@postgres/db

Connecting to 'postgresql+psycopg://db:***@postgres/db'

In [ ]:
%%sql

DROP TABLE IF EXISTS Measurement;
DROP TABLE IF EXISTS Test;
DROP TABLE IF EXISTS Other_Procedures;
DROP TABLE IF EXISTS Surgical;
DROP TABLE IF EXISTS Radiography;
DROP TABLE IF EXISTS performs;
DROP TABLE IF EXISTS Procedure;
DROP TABLE IF EXISTS Medication;
DROP TABLE IF EXISTS Prescription;
DROP TABLE IF EXISTS associated;
DROP TABLE IF EXISTS Diagnostic_code;
DROP TABLE IF EXISTS assists;
DROP TABLE IF EXISTS Veterinary_Visit;
DROP TABLE IF EXISTS Assistant;
DROP TABLE IF EXISTS Client;
DROP TABLE IF EXISTS Doctor;
DROP TABLE IF EXISTS Cats_or_Dogs;
DROP TABLE IF EXISTS Other_Animals;
DROP TABLE IF EXISTS Animal;


CREATE TABLE Client (
    tin NUMERIC(9),
    name VARCHAR(80) NOT NULL,
    address_line_1 VARCHAR(255) NOT NULL,
    address_line_2 VARCHAR(255) NOT NULL,
    postcode VARCHAR(12) NOT NULL,
    city VARCHAR(30) NOT NULL,
    phone_nr VARCHAR(15) NOT NULL,
    PRIMARY KEY (tin),
    UNIQUE (phone_nr)
);

CREATE TABLE Assistant (
    name VARCHAR(80) NOT NULL,
    address_line_1 VARCHAR(255) NOT NULL,
    address_line_2 VARCHAR(255) NOT NULL,
    postcode VARCHAR(12) NOT NULL,
    city VARCHAR(30) NOT NULL,
    phone_nr VARCHAR(15),
    PRIMARY KEY (phone_nr)
);

CREATE TABLE Doctor (
    omv NUMERIC(9),
    name VARCHAR(80) NOT NULL,
    address_line_1 VARCHAR(255) NOT NULL,
    address_line_2 VARCHAR(255) NOT NULL,
    postcode VARCHAR(12) NOT NULL,
    city VARCHAR(30) NOT NULL,
    phone_nr VARCHAR(15) NOT NULL,
    specialization VARCHAR (80) NOT NULL,
    biog_description TEXT NOT NULL,
    PRIMARY KEY (omv),
    UNIQUE (phone_nr)
);

CREATE TABLE Animal (
    name VARCHAR(80),
    owner VARCHAR(80),
    birthdate DATE NOT NULL,
    color VARCHAR(30) NOT NULL,
    gender VARCHAR(9) NOT NULL,
    weight_g NUMERIC(9,3) NOT NULL,
    PRIMARY KEY (name, owner)
    -- No animal can exist at the same time in both the table 'Cats_or_Dogs' or in the table 'Other_Animals'
);

CREATE TABLE Cats_or_Dogs (
    name VARCHAR(80),
    owner VARCHAR(80),
    breed VARCHAR(80),
    PRIMARY KEY (name, owner),
    FOREIGN KEY (name, owner) REFERENCES Animal(name, owner)
);

CREATE TABLE Other_Animals (
    name VARCHAR(80),
    owner VARCHAR(80),
    spc VARCHAR(80) NOT NULL,
    PRIMARY KEY (name, owner),
    FOREIGN KEY (name, owner) REFERENCES Animal(name, owner)
);

CREATE TABLE Veterinary_Visit (
    name VARCHAR(80),
    owner VARCHAR(80),
    date TIMESTAMP,
    S TEXT,
    O TEXT,
    A TEXT,
    P TEXT,
    omv NUMERIC(9),
    tin NUMERIC(9),
    PRIMARY KEY (name, owner, date),
    FOREIGN KEY (name, owner) REFERENCES Animal(name, owner),
    FOREIGN KEY (omv) REFERENCES Doctor(omv),
    FOREIGN KEY (tin) REFERENCES Client(tin)
);

CREATE TABLE assists (
    name VARCHAR(80),
    owner VARCHAR(80),
    date TIMESTAMP,
    phone_nr VARCHAR(15),
    PRIMARY KEY (name, owner, date, phone_nr),
    FOREIGN KEY (name, owner, date) REFERENCES Veterinary_Visit(name, owner, date),
    FOREIGN KEY (phone_nr) REFERENCES Assistant(phone_nr)
);

CREATE TABLE Diagnostic_code (
    code VARCHAR(80), 
    description TEXT NOT NULL,
    PRIMARY KEY (code)
);

CREATE TABLE associated (
    name VARCHAR(80),
    owner VARCHAR(80),
    date TIMESTAMP,
    code VARCHAR(80), 
    PRIMARY KEY (name, owner, date, code),
    FOREIGN KEY (name, owner, date) REFERENCES Veterinary_Visit(name, owner, date),
    FOREIGN KEY (code) REFERENCES Diagnostic_code(code)
);

CREATE TABLE Prescription (
    prescription_id INTEGER,
    name VARCHAR(80),
    owner VARCHAR(80),
    date TIMESTAMP,
    code VARCHAR(80), 
    PRIMARY KEY (prescription_id),
    FOREIGN KEY (name, owner, date, code) REFERENCES associated(name, owner, date, code)
    -- Every prescription must appear in the table 'medication' 
);

CREATE TABLE Medication (
    prescription_id INTEGER,
    name VARCHAR(80),
    lab VARCHAR(80),
    dosage VARCHAR(80),
    PRIMARY KEY (prescription_id, name, lab, dosage),
    FOREIGN KEY (prescription_id) REFERENCES Prescription(prescription_id)
);

CREATE TABLE Procedure (
    description VARCHAR(255),
    report TEXT NOT NULL,
    name VARCHAR(80),
    owner VARCHAR(80),
    date TIMESTAMP,
    PRIMARY KEY (description),
    FOREIGN KEY (name, owner, date) REFERENCES Veterinary_Visit(name, owner, date)
    -- Every procedure must exist in either the table  'Test' or in the table 'Other_Procedures', or in the table 'Surgical' or in the table 'Radiography'
    -- No procedure can exist simultaneously in more than one of the following tables: 'Test', 'Other_Procedures', 'Surgical', or 'Radiography'
);

CREATE TABLE performs (
    phone_nr VARCHAR(15),
    description VARCHAR(255),
    PRIMARY KEY (phone_nr, description),
    FOREIGN KEY (phone_nr) REFERENCES Assistant(phone_nr),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

CREATE TABLE Radiography (
    description VARCHAR(255),
    img_path VARCHAR(255) NOT NULL,
    PRIMARY KEY (description),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

CREATE TABLE Surgical (
    description VARCHAR(255),
    PRIMARY KEY (description),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

CREATE TABLE Other_Procedures (
    description VARCHAR(255),
    PRIMARY KEY (description),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

CREATE TABLE Test (
    description VARCHAR(255),
    PRIMARY KEY (description),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

CREATE TABLE Measurement (
    description VARCHAR(255),
    indicator VARCHAR(30),
    ref_range VARCHAR(30) NOT NULL,
    range_description VARCHAR(255) NOT NULL,
    values REAL,
    units VARCHAR(30),
    PRIMARY KEY (description, indicator),
    FOREIGN KEY (description) REFERENCES Procedure(description)
);

Running query in 'postgresql+psycopg://db:***@postgres/db'

++
||
++
++

In [15]:
%%sql

\d

Running query in 'postgresql+psycopg://db:***@postgres/db'

+--------+-----------------+-------+-------+
| Schema |       Name      |  Type | Owner |
+--------+-----------------+-------+-------+
| public |      animal     | table |   db  |
| public |    assistant    | table |   db  |
| public |     assists     | table |   db  |
| public |    associated   | table |   db  |
| public |   cats_or_dogs  | table |   db  |
| public |      client     | table |   db  |
| public | diagnostic_code | table |   db  |
| public |      doctor     | table |   db  |
| public |   measurement   | table |   db  |
| public |    medication   | table |   db  |
+--------+-----------------+-------+-------+
Truncated to displaylimit of 10.