# 15 P1 Project

* ist1102903 Ana Alfaiate (33%)
  
* ist1102902 Maria Inês Trigueiro (33%)
  
* ist102881 Raquel Coelho (33%)

Prof. Flávio Martins (and Prof. João Marques)

Lab Shift number: PB03

## PART I – E-R Model

#### 1. Proposed database design

An E-R model describing your proposed database design. Every design decision that can be captured in the E-R model should be represented in the diagram. Do not forget to include additional integrity constraints not captured in the E-R model. You may provide notes explaining the rationale behind non-trivial design decisions.

### E-R Model

![E-R Model](15-p1-er-model.png "E-R Model")

## PART II – Relational Model

### Database Schema

#### 1. Create the tables and integrity constraints corresponding to the relational database schema obtained.

Do not forget to include additional integrity constraints not captured in the relational model.

Please use database `db`, which should already have been created. If not, follow the instructions in Lab01 to create it.

In [ ]:
-- create db vetDB

In [ ]:
%load_ext sql
%sql postgresql+psycopg://db:db@postgres/db

In [ ]:
%%sql

DROP TABLE IF EXISTS Client;
DROP TABLE IF EXISTS Doctor;
DROP TABLE IF EXISTS Assistant;
DROP TABLE IF EXISTS Animal;
DROP TABLE IF EXISTS Visit;
DROP TABLE IF EXISTS Prescription;
DROP TABLE IF EXISTS Diagnostic;
DROP TABLE IF EXISTS Procedure;


CREATE TABLE Client (
    tin NUMERIC(9),
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    PRIMARY KEY (tin),
    --? UNIQUE (line1,line2, postal_code, city), acho que nao e preciso
    UNIQUE (phone_nr)
);

CREATE TABLE Assistant (
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    PRIMARY KEY (phone_nr),
    --? UNIQUE (line1,line2, postal_code, city), acho que nao e preciso
);

CREATE TABLE Doctor (
    omv NUMERIC(9), --type?
    name VARCHAR(80),
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    biog TEXT,
    PRIMARY KEY (omv),
    --? UNIQUE (line1,line2, postal_code, city), acho que nao e preciso
    UNIQUE (phone_nr)
);

CREATE TABLE Animal (
    name VARCHAR(80),
    birthdate DATE,
    color VARCHAR(30),
    gender VARCHAR(9),
    weight ? -- in most recent measurement of weight in grams
    line1 VARCHAR(255),
    line2 VARCHAR(255),
    postal_code VARCHAR(12),
    city VARCHAR(30),
    phone_nr VARCHAR(15),
    PRIMARY KEY (omv),
    --? UNIQUE (line1,line2, postal_code, city), acho que nao e preciso
);

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    text TEXT,
    -- Every student must appear in the table 'registers'

CREATE TABLE Instrument (
    name VARCHAR(80),
    tonality VARCHAR(30),
    PRIMARY KEY (name)
);

CREATE TABLE plays (
    idc INTEGER,
    name VARCHAR(80),
    PRIMARY KEY (idc, name),
    FOREIGN KEY (idc) REFERENCES Musician(idc),
    FOREIGN KEY (name) REFERENCES Instrument(name)
);

CREATE TABLE Album (
    id VARCHAR(255),
    title VARCHAR(255),
    date DATE,
    producer INTEGER,
    PRIMARY KEY (id),
    FOREIGN KEY (producer) REFERENCES Musician(idc)
);

CREATE TABLE Music (
    id VARCHAR(255),
    title VARCHAR(255),
    author VARCHAR(80),
    PRIMARY KEY (id, title, author),
    FOREIGN KEY (id) REFERENCES Album(id)
    -- Every music must appear in the table 'participates'
);

CREATE TABLE participates (
    idc INTEGER,
    id VARCHAR(255),
    title VARCHAR(255),
    author VARCHAR(80),
    PRIMARY KEY (idc, id, title, author),
    FOREIGN KEY (idc) REFERENCES Musician(idc),
    FOREIGN KEY (id, title, author) REFERENCES Music(id, title, author)
);